{% extends 'base.html.twig' %}

{% block title %}Vente Automobile{% endblock %}

{% block body %}
    <h1>Vente Automobile</h1>
    <a href="{{ path('app_vente_new') }}" class="custom-btn">Nouveau</a>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Date Vente</th>
                <th>Montant Total</th>
                <th>Mode Paiement</th>
                <th>Client</th>
                <th>Véhicule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vente in ventes %}
            <tr>
                <td>{{ vente.dateVente ? vente.dateVente|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vente.montantTotal }}</td>
                <td>{{ vente.modePaiement ? vente.modePaiement.value : 'N/A' }}</td>
                <td>{{ vente.clients.nom }} {{ vente.clients.prenom }}</td>
                <td>{{ vente.vehicule.marque }} {{ vente.vehicule.modele }}</td>
                <td>
                    <a href="{{ path('app_vente_show', {'id': vente.id}) }}" class="custom-btn">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
